.side-bar
  .side-bar__user-name
    .side-bar__user-name__username
      sakae
    .side-bar__user-name__icons
      = link_to '#', class: "side-bar__icon" do
        %i.fas.fa-edit
        %span<>
      = link_to '#', class: "side-bar__icon" do
        %i.fas.fa-cog    
  .side-bar__group-list
    .groupname
      curry
    .post
      rice
